version: "3.8"

services:
  mongodb:
    image: "mongo"

    volumes:
      - data:/data/db 

  app:
    build: ./
    ports:
      - "4001:4001"
    env_file:
      - ./dotenv/docker.env
    depends_on:
      - mongodb

volumes:
  data:

